<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="<%PUBLIC_URI%>/style.css" />
    <title>donate</title>
  </head>

  <body>
    <header>
      <h1>donate</h1>
    </header>

    <nav>
      <a href="<%BUILD_URI%>">home</a>
    </nav>

    <main>
      <h2>dev/personal</h2>

      <ul>
        <li>
          <a href="https://paypal.me/rsalvadora">
            paypal.me/rsalvadora
          </a>
        </li>
      </ul>
    </main>

    <footer>
      <p>
        released into public domain.
      </p>
    </footer>
  </body>

</html>
